data {{capitalize(entity)}} = {{capitalize(entity)}}
    { {{entity}}{{fieldName("Id", fields)}} :: {{capitalize(entity)}}Id
{{for field in fields}}
    , {{entity}}{{fieldName(capitalize(field.name), fields)}} :: !{{field.type}}
{{end for}}
    }
