.ghc.environment.*
**/dist/
**/dist-newstyle/
**/.cabal-sandbox/
**/cabal.sandbox.config
.DS_Store
*.tmp
.Trashes
Icon?
Thumbs.db
.Spotlight-V100
._*
.buildpath
.project
*.log
*.o
*.so
*.d
*.hi
*.sublime-workspace
*.sublime-project
.stack-work
.vscode
.idea
*.iml
output
